<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: Head('Entrar')}"></head>
<style th:inline="css">
    html main {
        background-image: url("/img/background-white.png");
        background-position: center;
        background-size: cover;
    }
    html.dark main {
        background-image: url("/img/background-dark.png");
        background-position: center;
        background-size: cover;
    }
</style>
<body>
    <main>
        <div class="container">
            <section class="container-card">
                <div class="img-auth">
                    <div class="img-padrão-auth">
                        <img src="/img/pinguimJamlogo.png" alt="Foto do usuário"/>
                    </div>

                    <div class="title-cc">
                        <h1>Seja bem vindo!</h1>
                        <p>A Pinguim Jam é um sistema de gerenciamente de eventos nele descongele sua criatividade e crie e participe de Jams</p>
                    </div>
                </div>
                <div class="card">
                    <div class="btn-modo">
                        <button
                            onclick="toggleTheme()"
                            class="theme-toggle"
                            aria-label="Alternar tema claro/escuro"
                        >
                            <span id="theme-icon" class="theme-icon material-symbols-outlined">
                                light_mode
                            </span>
                        </button>
                    </div>
                    <div class="title-auth">
                        <h1>Crie sua conta</h1>
                        <p>Preencha os campos abaixo para se cadastrar</p>
                    </div>

                    <div th:if="${param.error}" class="alert">
                        Ocorreu um erro no cadastro. Tente novamente.
                    </div>

                    <form id="signupForm" action="/signup" method="post" enctype="multipart/form-data" novalidate>
                        <div th:replace="~{fragments/imageCropComponent :: imageCrop}"></div>

                        <div th:replace="~{fragments/formComponents.html :: formInput(
                            id='username',
                            name='username',
                            type='text',
                            icon='person',
                            placeholder='Username',
                            labelText=null,
                            inputClass=null,
                            dataField=null
                        )}"></div>

                        <div th:replace="~{fragments/formComponents.html :: formInput(
                            id='email',
                            name='email',
                            type='email',
                            icon='mail',
                            placeholder='E-mail',
                            labelText=null,
                            inputClass=null,
                            dataField=null
                        )}"></div>

                        <div th:replace="~{fragments/formComponents.html :: formInput(
                            id='password',
                            name='password',
                            type='password',
                            icon='lock',
                            placeholder='Senha',
                            inputClass=null,
                            labelText=null,
                            dataField=null
                        )}"></div>

                        <div th:replace="~{fragments/formComponents.html :: formInput(
                            id='passwordConfirm',
                            name='passwordConfirm',
                            type='password',
                            icon='lock',
                            placeholder='Confirmar Senha',
                            inputClass=null,
                            labelText=null,
                            dataField=null
                        )}"></div>

                        <div class="checkbox-container">
                            <div class="aling-checkbox">
                                <input
                                    type="checkbox"
                                    id="termos"
                                    name="termos"
                                    value="aceito"
                                />
                                <label for="termos">
                                    Concordo com os <a href="#">termos e políticas do site</a>
                                </label>
                            </div>
                            <p id="termosError" class="error-message"></p>
                        </div>

                        <button
                            id="submitButton"
                            type="submit"
                            class="submit-button"
                        >
                            Cadastrar
                        </button>
                    </form>

                    <div class="signup-text">
                        <p>
                            Já tem uma conta?
                            <a th:href="@{/login}">Entrar aqui</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script th:src="@{/js/common/theme.js}"></script>
    <script type="module" th:src="@{/js/auth/signup.js}"></script>
</body>
</html>
