.titleHome{
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
    margin: 1rem;
}


/*View Jams*/
.container-Jams{

}

.month-section{

}

.month-title{

}

.cards-container{

}

.jam-card{

}

.header-jam-card{

}

.status-jam-card{

}

.aling-qtd-members-jam-card{

}

.aling-qtd-members-jam-card span{

}

.aling-qtd-members-jam-card p{

}

.container-jam-card{

}

.container-jam-card h1{

}

.duration-jam-card{

}

.duration-jam-card p{

}

.load-more{

}