<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="conteudoInicio">
        <div class="details-list-inicio">
            <h1>Seus jogos</h1>
            <div class="list-cards-perfil">

            </div>
        </div>
        <div class="details-list-inicio">
            <h1>Jams Criadas</h1>
            <div class="list-cards-perfil">

            </div>
        </div>
        <div class="details-list-inicio">
            <h1>Jams Inscritas</h1>
            <div class="list-cards-perfil">

            </div>
        </div>
        <div class="details-list-inicio">
            <h1>Jogos Curtidos</h1>
            <div class="list-cards-perfil">

            </div>
        </div>
    </div>
</body>
</html>