<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: Head('Trocar senha')}"></head>
<body class="body-centered-content">
    <div th:replace="fragments/menu :: siteMenu"></div>
    <main class="main-with-menu">
        <div class="container-center-tela">
            <section class="container-card">
                <div class="img-auth">
                    <div class="title-cc">
                        <h1>Seja bem vindo</h1>
                        <p>Pinguim Jam <br>Descongele sua criatividade <br>Crie seus jogos</p>
                    </div>
                    <div class="img-padrão-auth">
                        <img src="/img/pinguimMusicGoodVibe.png" alt="Foto do usuário"/>
                    </div>
                </div>
                <div class="card">
                    <div class="title-auth">
                        <h1>Alterar senha</h1>
                    </div>

                    <div th:if="${param.error}" class="alert">
                        Usuário ou senha inválidos.
                    </div>

                    <form id="loginForm" action="/login" method="post" novalidate>
                        <div th:replace="~{fragments/formComponents.html :: formInput(
                            id='currentPassword',
                            name='currentPassword',
                            type='password',
                            icon='lock',
                            placeholder='Senha atual',
                            labelText=null,
                            inputClass=null,
                            dataField='currentPassword'
                        )}"></div>

                        <div th:replace="~{fragments/formComponents.html :: formInput(
                            id='newPassword',
                            name='newPassword',
                            type='password',
                            icon='lock',
                            placeholder='Nova senha',
                            labelText=null,
                            inputClass=null,
                            dataField='newPassword'
                        )}"></div>

                        <div th:replace="~{fragments/formComponents.html :: formInput(
                            id='confirmNewPassword',
                            name='confirmNewPassword',
                            type='password',
                            icon='lock',
                            placeholder='Confirmar nova senha',
                            labelText=null,
                            inputClass=null,
                            dataField='confirmNewPassword'
                        )}"></div>

                        <button id="submitButton" type="submit" class="submit-button">
                            Alterar senha
                        </button>
                    </form>

                </div>
            </section>

        </div>
    </main>
    <footer th:replace="fragments/footer :: site-footer"></footer>
    <script th:src="@{/js/common/theme.js}"></script>
    <script type="module" th:src="@{/js/auth/changePassword.js}"></script>
</body>
</html>
