<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: Head('Página Inicial')}"></head>
<body>
    <div th:replace="fragments/menu :: siteMenu"></div>

    <main>
        <h2 class="titleHome">Página Inicial</h2>

        <!--Carrossel -->
        <div class="teste-home">aa</div>
        <!--Jams -->
        <section class="container-Jams">

        </section>


    </main>

    <script th:src="@{/js/common/theme.js}"></script>
    <script type="module" th:src="@{/js/pages/home.js}"></script>
</body>
</html>
