<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: Head('Página Inicial')}"></head>
<style>
    html {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        margin: 0;
    }

    main {
        flex-grow: 1;
    }
</style>
<body class="home-page">
    <div th:replace="fragments/menu :: siteMenu"></div>

    <main class="container-home">

        <section class="home-carousel">

        </section>
        <section class="jams-home">
            <div class="container-Jams">

            </div>
        </section>

    </main>
    <footer th:replace="fragments/footer :: site-footer"></footer>
    <script th:src="@{/js/common/theme.js}"></script>
    <script type="module" th:src="@{/js/pages/home.js}"></script>
</body>
</html>
