<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: Head('Página Inicial')}"></head>
<body>
    <div th:replace="fragments/menu :: siteMenu"></div>

    <main>
        <h2 class="titleHome">Página Inicial</h2>
        <section id="userInfoSection">
            <h3>Olá, <span data-field="userName"></span>!</h3>
            <p>E-mail: <span data-field="userEmail"></span></p>
            <img data-field="userPhoto" data-default="/images/default-avatar.png" alt="Avatar do usuário"/>
        </section>
    </main>

    <script type="module" th:src="@{/js/pages/home.js}"></script>
</body>
</html>
