<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: Head('Página da Jam')}"></head>
<body class="body-view-jam">
    <div th:replace="fragments/menu :: siteMenu"></div>

    <main class="jam-card">
        <section id="jam-cover-container">
            <img
                data-field="jamCover"
                data-default="/images/placeholder-cover.png"
                alt="Cover da Jam"
                class="skeleton"
            />
        </section>

        <section class="header-view-jam">
            <div class="header-jam-card">
                <div class="details-jam-card">
                    <div class="name-jam">
                        <h1 data-field="jamTitle" class="skeleton"></h1>
                        <p class="skeleton">
                            Criada por
                            <span data-field="jamUser.userName"></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-view-jam-id" id="jam-content">
            <div class="container-jam-card skeleton">
                <div class="options-jam-card">
                    <button data-tab="geral" class="active">Geral</button>
                    <button data-tab="rank">Rank</button>
                    <button data-tab="jogos">Jogos</button>
                </div>
                <div id="tab-content">
                    <div id="tab-geral" class="tab-pane active">
                        <div class="elements-aba" th:replace="~{fragments/jam/geral :: conteudoGeral}"></div>
                    </div>
                    <div id="tab-rank" class="tab-pane" style="display: none;">
                        <div class="elements-aba" th:replace="~{fragments/jam/rank :: conteudoRank}"></div>
                    </div>
                    <div id="tab-jogos" class="tab-pane" style="display: none;">
                        <div class="elements-aba" th:replace="~{fragments/jam/games :: conteudoJogos}"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script th:src="@{/js/common/theme.js}"></script>
    <script type="module" th:src="@{/js/pages/viewJam.js}"></script>
</body>
</html>