<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="site-footer">
        <div class="elements-footer">
            <div class="links-footer">
                <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </div>

            <h1 class="title-footer">Termos de Serviço</h1>

            <div class="img-logo-footer">
                <img src="/img/pinguimJamlogo.png" alt="Logo"/>
            </div>

            <p class="direitos-footer"> Capyright © 2025 PinguimJam corp</p>
        </div>
    </footer>
</html>