<div th:fragment="fields">
    <div class="form-group">
        <label for="gameTitle">Titulo do Jogo</label>
        <input type="text" id="gameTitle" name="gameTitle" data-field="gameTitle" class="form-control" />
    </div>

    <div class="form-group">
        <label for="gameDescription">Descrição</label>
        <input type="text" id="gameDescription" name="gameDescription" data-field="gameDescription" class="form-control" />
    </div>

    <div class="form-group form-group-jam">
        <label for="gameContent">Conteúdo da Jam (HTML livre)</label>
        <textarea id="gameContent" name="gameContent" data-field="gameContent"></textarea>
    </div>

    <div class="form-group form-group-jam">
        <label class="label-input-padrao">Imagem Capa</label>
        <input type="file" class="filepond" name="gamePhoto" id="gamePhoto"/>
        <p id="gamePhotoError" class="error-message img-form-group-game"></p>
    </div>

    <div class="form-group form-group-jam">
        <label class="label-input-padrao">Enviar Game</label>
        <input type="file" class="filepond" name="gameFile" id="gameFile"/>
        <p id="gameFileError" class="error-message"></p>
    </div>

    <button id="submitButton" type="submit" class="submit-button">
        Postar Game
    </button>

</div>