<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="siteMenu">

        <header class="site-header">
            <img src="" alt="Logo" class="site-logo"></img>
            <div class="container-menu">
                <button>Games</button>
                <button>Explorar Jams</button>
                <button>Criar Jams</button>
                <div class="bar-search-menu">
                    <input type="text" placeholder="Pesquise por Jam"/>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </div>
            </div>
            <div class="options-menu">
                <button class="theme-toggle">
                    <span id="theme-icon-bell" class="material-symbols-outlined">
                        notifications
                    </span>
                </button>
                <button
                    onclick="toggleTheme()"
                    class="theme-toggle"
                    aria-label="Alternar tema claro/escuro"
                >
                    <span id="theme-icon" class="theme-icon material-symbols-outlined">
                        light_mode
                    </span>

                </button>
                <img class="img-user-menu skeleton"
                     data-field="userPhoto"
                     data-default="/images/default-avatar.png"
                     alt="Avatar do usuário"
                />
            </div>


        </header>

        <script type="module" th:src="@{/js/pages/fragments/menu.js}"></script>
    </div>
</html>
