<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: Head('Página da Jam')}"></head>
<body class="body-view-jam">
    <div th:replace="fragments/menu :: siteMenu"></div>

    <main class="game-card">
        <section class="card-view-game">
            <section class="header-view-game">
                <div id="img-capa-view-game">
                    <img
                        data-field="gamePhoto"
                        data-default="/img/imgCardGamePadrao.png"
                        alt="Capa do Game"
                        class="capa-game skeleton"
                    />
                </div>
                <div class="info-view-game">
                    <div class="details-view-game">
                        <div class="actor-view-game">
                            <a id="actor-profile-link" href="#" class="infor-user-actor-view-game">
                                <img
                                    data-field="userResponseDTO.userPhoto"
                                    data-default="/img/icone-padrao.svg"
                                    alt="icone actor"
                                    class="icone-actor skeleton"
                                />
                                <h1 data-field="userResponseDTO.userName" class="skeleton"></h1>
                            </a>

                            <a id="edit-game-btn" class="button-edit-game" style="display: none;">
                                <span class="material-symbols-outlined">edit</span>
                            </a>
                        </div>
                        <h1 data-field="gameTitle" class="skeleton"></h1>
                        <p data-field="gameDescription" class="skeleton"></p>
                    </div>
                    <div class="options-view-game">
                        <button>Acessar game</button>
                        <div class="button-like">
                            <span class="icone-like material-symbols-outlined">thumb_up</span>
                            <span class="like-count skeleton">0</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container-view-game">
                <iframe id="game-content-frame" frameborder="0" style="width: 100%; min-height: 500px; border-radius: 1rem;"></iframe>
            </section>

            <section class="container-comments">
                <div class="post-comment">
                    <img
                        data-field="userPhoto"
                        data-default="/img/icone-padrao.svg"
                        alt="comment actor icon"
                        class="icone-actor-comments skeleton"
                    />
                    <input type="text" name="comment-input" id="comment-user-input" placeholder="Escreva um comentário...">
                    <span id="send-comment-btn" class="material-symbols-outlined">send</span>
                </div>
                <div id="comments"></div>
            </section>
        </section>
    </main>
    <footer th:replace="fragments/footer :: site-footer"></footer>
    <script th:src="@{/js/common/theme.js}"></script>
    <script type="module" th:src="@{/js/pages/game/viewGame.js}"></script>
    </body>
</html>