.body-view-jam {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.jam-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#jam-cover-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#jam-cover-container img{
    max-width: 100%;
    max-height: 35rem;
}

.header-view-jam{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.name-jam{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-view-jam-id{
    width: 70%;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--background-card);
    margin: 2rem 0;
}

.header-jam-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.details-jam-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 1.3rem;
    border-radius: 3rem 0.5rem 3rem 0.5rem;
    margin-top: 2rem;
    background-color: var(--background-card);
}

.name-jam h1{
    font-size: 32px;
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-jam p{
    font-size: 16px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-jam span{
    margin-top: 0.5rem;
    font-size: 18px;
    font-weight: bold;
}

.participants-jam{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.info-participants-jam{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-participants-jam h1{
    font-size: 32px;
    font-weight: bold;
}

.info-participants-jam p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
}

.info-duration-card{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-jam-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
    min-width: 85%;
}

.options-jam-card button {
    background-color: transparent;
    border: none;
    margin: 1rem 2rem;
    cursor: pointer;
    opacity: 0.7;
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
}

.options-jam-card button.active {
    opacity: 1;
}

.container-jam-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-user-jam-card{
    margin-top: 2rem;
    width: 100%;
}

.card-duration-view-jam-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    align-items: center;
}

#jam-action-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

#jam-duration-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-text{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

#cd-prefix{
    font-size: 16px;
    font-weight: bold;
}

#cd-timer{
    font-size: 28px;
    font-weight: bold;
    gap: 10px;
}

.join-btn{
    border: none;
    padding: 13px;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin-top: 1rem;
    box-shadow: 0 4px 15px rgb(0 0 0 / 42%);
}

.leave-jam-link{
    font-size: 16px;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.join-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.container-card-duration-view-jam-id{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
}

#tab-content,
.elements-aba,
.tab-pane{
    width: 100%;
}

#tab-content {
    position: relative;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 4rem;
}

.tab-pane {
    transition: opacity 0.3s ease-in-out;
}

.countdown-container {
    display: flex;
    justify-content: center;/
    gap: 10px;
    margin-top: 15px;
}

.countdown-item {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 29%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px;
}

.countdown-value {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}

.countdown-label {
    font-size: 0.8rem;
    margin-top: 5px;
}


.countdown-text {
    margin-bottom: 10px;
}


#rank-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aling-hank{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.podio{
    height: 5rem;
    background-color: var(--blue);
    width: 100%;
    margin-top: -6rem;
    border-radius: 1rem 3rem 1rem 2rem;
}

.rank-2 {
    order: 1;
    bottom: 1rem;
    animation-delay: 0.5s;
}

.rank-1 {
    order: 2;
    position: relative;
    bottom: 1rem;
    animation-delay: 1s;
}

.rank-3 {
    order: 3;
    animation-delay: 0s;
}

.podio-rank1{
    width: 100%;
    height: 9rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--blue);
}

.podio-rank2{
    width: 100%;
    height: 7rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--blue);
}

.podio-rank3{
    width: 100%;
    height: 7rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--blue);
}

.rank-1,
.rank-2,
.rank-3 {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-name: surgir;
    animation-timing-function: ease-out;
}

@keyframes surgir {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.podio-rank1,
.podio-rank2,
.podio-rank3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.podium-icon-img {
    height: 60%;
    width: auto;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: surgir2;
    animation-timing-function: ease-out;
    user-select: none;
}

@keyframes surgir2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.edit-jam{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-bottom: 0.5rem;
}

.button-edit-jam {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.img-not-game{
    height: 20rem;
    user-select: none;
}

#itens-not-a-game,
#itens-not-a-rank{
    display: flex;
    flex-direction: column;
    align-items: center;
}

