.game-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card-view-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-view-game{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 60%;
    background-color: var(--background-card);
    border-radius: 1rem;
    padding: 1rem;
    margin: 3rem 0 1rem 0;
}

.info-view-game{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-left: 1rem;
    justify-content: space-between;
    height: 16rem;
}

.capa-game {
    user-select: none;
    width: 13rem;
    height: 16rem;
    border-radius: 1rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-view-game{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.details-view-game h1{
    font-size: 26px;
    font-weight: bold;
}

.details-view-game p{
    font-size: 14px;
    font-weight: 300;
    margin-top: 0.5rem;
}

.options-view-game button{
    background-color: var(--blue);
    border: none;
    width: 7rem;
    padding: 10px;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
    color: var(--white);
    font-size: 14px;
}

.options-view-game button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.container-view-game{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 60%;
    background-color: var(--background-card);
    border-radius: 1rem;
    padding: 1rem;
}

.actor-view-game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: 100%;
}

.actor-view-game h1{
    font-size: 14px;
    font-weight: 600;
    margin-left: 0.5rem;
}

.actor-view-game img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    user-select: none;
}

.button-like{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-top: 1rem;
}

.like-count{
    margin-left: 0.5rem;
    font-size: 20px;
    font-weight: 600;
    color: var(--blue);
}

.icone-like{
    cursor: pointer;
}

.button-like.liked .icone-like{
    color: var(--blue);
}

.container-comments{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
    background-color: var(--background-card);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.post-comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.icone-actor-comments{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
}

.post-comment span{
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    color: var(--blue);
}

.post-comment input{
    width: 100%;
    padding: 10px;
    background-color: var(--background);
    border-radius: 0.5rem;
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--blue);
    outline: none;
}

.comment-card{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 100%
}

.comment-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 0.7rem;
}

.comment-username{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.comment-text{
    font-size: 14px;
    margin-top: 0.5rem;
}

.options-view-game{
    display: flex  ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-user-comment{
    display: flex;
    align-items: center;
    width: 100%;
}

.delete-comments span{
    font-size: 18px;
    color: var(--blue);
    cursor: pointer;
    user-select: none;
}

.delete-comments span:hover{
    transform: scale(1.3);
    transition: 0.2s;
}

#comments{
    width: 100%;
}

.not-comments{
    margin-top: 1rem;
}

.button-edit-game {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button-edit-game:hover {
    background-color: #555;
}

.infor-user-actor-view-game{
    display: flex;
    align-items: center;
}