header.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    padding: 2rem;
    background-color: #000000;
}

body.dark header.site-header {
    background-color: #000;
}

.site-logo {
    background: red;
    width: 4rem; height: 4rem;
    /*
        Primeira Logo
        background-image: url("logo1");
    */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.dark .site-logo {
    /*
        Segunda Logo
        background-image: url("logo2");
    */
}

.container-menu{
    background: red;
    display: flex; align-items: center;
    justify-content: center;
}

.theme-toggle {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme-icon {
    font-size: 1.5rem;
    color: white;
}

body.dark .theme-icon {
    color: #f9fafb;
}

.img-user-menu{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    user-select: none;
    cursor: pointer;
}

.options-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}