header.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    padding: 2rem;
    background-color: var(--background-menu);
}

.site-logo {
    width: 4rem; height: 4rem;
    /*
        Primeira Logo
        background-image: url("logo1");
    */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.dark .site-logo {
    /*
        Segunda Logo
        background-image: url("logo2");
    */
}

.container-menu{
    width: 60%;
    display: flex; align-items: center;
    justify-content: space-between;
}
.container-menu button{
    position: relative;
    padding: 5px 1px;
    font-size: 1.2rem;
    color: var(--text);
    border: none;
    background: none;
    outline: none;
    transition: .6s ease-in-out;
    cursor: pointer;
}
.container-menu button:hover{color: var(--blue)}
.container-menu button:hover::before{
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 1px;
    background: var(--blue);
    animation: animateLine .6s ease-in-out;
}
@keyframes animateLine {
    0%{
        width: 0%;
        left: 50%;
    }
    100%{
        width: 100%;
        left: 0;
    }
}

.bar-search-menu{
    width: 35%;
    position: relative;
    padding: 4px 10px;
    border: 2px solid var(--blue);
    border-radius: 0.7rem;
    display: flex; align-items: center;
    justify-content: space-between;
}
.bar-search-menu input {
    width: 91%;
    color: var(--text);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    background: none;
    border: none;
    outline: none;
}
.bar-search-menu span{
    color: var(--blue);
    user-select: none;
    cursor: pointer;
}

.theme-toggle {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme-icon, #theme-icon-bell {
    font-size: 1.5rem;
    color: var(--blue);
}

body.dark .theme-icon {
    color: var(--black);
}

.img-user-menu{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    user-select: none;
    cursor: pointer;
}

.options-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}