.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: var(--text);
}

.card p {
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 1.5rem;
}

.alert {
    background-color: #fee2e2;
    color: var(--error);
    padding: 0.75rem;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #374151;
}

.form-group input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    outline: none;
}

.form-group input:focus {
    border-color: #000000;
    box-shadow: 0 0 0 1px #4f4f4f;
}

.form-group input.error {
    border-color: var(--error);
    box-shadow: 0 0 0 1px var(--error);
}

.form-group input.error:focus {
    border-color: var(--error);
    box-shadow: 0 0 0 1px var(--error);
}

.error-message {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: var(--error) !important;
}

.submit-button {
    width: 100%;
    background-color: black;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    padding: 13px;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    margin: 1rem 0;
}

.submit-button:hover {
    transition: 0.2s;
    background-color: #1c1c1c;
}

.submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #bfdbfe;
}

.signup-text {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #4b5563;
}

.signup-text a {
    color: black;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.avatar-group {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.avatar-label {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border: 2px solid #ccc;
    transition: border-color 0.2s;
}

.avatar-label:hover {
    border-color: #888;
}

.avatar-icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cropModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#cropModal.active {
    display: flex;
}

#cropModal .modal-content {
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 1rem;
    border: none;
    background-color: var(--bg) !important;
}

#cropModal .cropper-container .cropper-wrap-box,
#cropModal .cropper-container .cropper-canvas {
    background-color: var(--bg) !important;
}

#cropModal .cropper-container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

#cropModal .cropper-container .cropper-wrap-box {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

.cropper-container .cropper-bg{
    border-radius: 1rem !important;
}

#cropModal img#cropImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#cropModal .modal-actions {
    margin: 1rem;
    text-align: right;
}

#cropModal .modal-actions button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: black;
    color: #fff;
    font-size: 0.9rem;
    transition: background 0.2s;
}

#cropModal .modal-actions button:hover {
    background: #1c1c1c;
}

#cropModal .modal-actions button.cancel {
    background: #6c757d;
}

#cropModal .modal-actions button.cancel:hover {
    background: #5a6268;
}

.cropper-face {
    background-color: transparent !important;
}

.cropper-modal {
    opacity: 0.5 !important;
    border-radius: 1rem !important;
    background-color: var(--bg) !important;
}