@layer base {
    :root {
        --subText: #4b5563;
        --error: #dc2626;
        --white: #ffffff;
        --blue: #5865f2;
        --grey: #3b3b3b;
        --black: #202020;
        --text: var(--black);
        --background-menu: var(--white);
        --background: #f3f3f3;
        --background-card: var(--white);
    }

    .dark {
        --text: var(--white);
        --blue: #5865f2;
        --grey: #3b3b3b;
        --background-menu: var(--grey);
        --background: var(--black);
        --background-card: var(--grey);
    }

    *{
        font-family: "League Spartan", sans-serif;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: var(--background);
        color: var(--text);
        width: 100%;
        height: 100vh;
    }

    a {
        color: var(--black);
        cursor: pointer;
    }
}

/* skeleton*/
.skeleton {
    position: relative !important;
    overflow: hidden !important;
    background-color: #555 !important;
    color: transparent !important;
    pointer-events: none !important;
    border-radius: 8px !important;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background: linear-gradient(
            90deg,
            transparent,
            rgba(255,255,255,0.3),
            transparent
    );
    animation: loading-skeleton 1.4s infinite;
    z-index: 1;
    border-radius: 8px;
}

@keyframes loading-skeleton {
    0% { left: -200px; }
    100% { left: 100%; }
}

img.skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #555;
    z-index: 0;
}

img.skeleton {
    color: transparent;
}


.dark .pcr-app {
    background: var(--background-card);
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

.note-editable{
    background-color: var(--white);
}
